@keyframes js-anim--collapse {
  from {
    opacity: 1;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 50% 0;
  }
}

@keyframes js-anim--expand {
  from {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 50% 0;
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

:root {
  --js-css-animation--duration: 800ms;
  --js-css-animation--timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.js-anim--dimension-transitions {
  transition: max-height var(--js-css-animation--duration)
      var(--js-css-animation--timing-function),
    max-width var(--js-css-animation--duration)
      var(--js-css-animation--timing-function);
}

.js-anim--expand {
  animation: js-anim--expand var(--js-css-animation--duration)
    var(--js-css-animation--timing-function);
  animation-fill-mode: forwards;
}

.js-anim--collapse {
  animation: js-anim--collapse var(--js-css-animation--duration)
    var(--js-css-animation--timing-function);
  animation-fill-mode: forwards;
}

.js-anim--collapsed {
  display: none;
}

.js-anim--btn-cursor {
  --js-css-animation--cursor: pointer;
  cursor: var(--js-css-animation--cursor);
}
